{% extends 'template.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}
{% block body %}
	<div class="container">
		<h1>
			{{app.user.username}}
			Modifiez votre profil</h1>

		{% for message in app.flashes('error') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{{ form(ProfileForm) }}
		</div>
	{% endblock %}
