{% extends 'template.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<h1>
		{{ render(controller('App\\Controller\\ProfileController::index2')) }}</h1>
	<h1 class="mt-4">Gerez vos visiteurs sans aucun soucis</h1>

{% endblock body %}
