{% extends 'template.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<h1>
		{{ render(controller('App\\Controller\\ProfileController::index2')) }}</h1>
	<h1 class="mt-4">Gerez vos visiteurs sans aucun soucis</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nisi sint doloribus! Quam ducimus aspernatur reprehenderit sit placeat recusandae eaque corporis. Magnam architecto exercitationem dolores illo eum doloribus nesciunt commodi?</p>

{% endblock body %}
