
{% block stylesheets %}
<title>Application de Gestion des Visiteurs</title>
<style>
	.button-section {
		text-align: center;
		margin-top: 30px;
	}
	.button-section button {
		padding: 12px 20px;
		font-size: 18px;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		margin: 10px;
		color: #fff;
		transition: background-color 0.3s ease;
	}
	.button-section button.login-btn {
		background-color: #333;
	}

	.button-section button.signup-btn {
		background-color: #ff9900;
	}

	.button-section button:hover {
		background-color: #333;
	}
	body-home {
		font-family: Arial, sans-serif;
		background-color: #f2f2f2;
		color: #333;
		margin: 0;
		padding: 0;
	}

	header {
		background-color: #00b300;
		color: #fff;
		padding: 20px;
		text-align: center;
	}

	.main-content {
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
	}

	.welcome-section {
		text-align: center;
		margin-top: 10px;
	}

	.welcome-section h1 {
		font-size: 36px;
		margin-bottom: 20px;
	}

	.welcome-section p {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.image-section {
		text-align: center;
		margin-top: 40px;
		display: flex;
	}

	.image-section img {
		max-width: 45%;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		margin: 10px;
	}

	.footer-home {
		background-color: #00b300;
		color: #fff;
		text-align: center;
		padding: 10px;
	}
</style>
{% endblock stylesheets %}

 <body class="body-home">
	<header>
		<h1>Application de Gestion des Visiteurs</h1>
	</header>

	<div class="main-content">
		<div class="image-section">
			<img src="{{ asset('assets/img/acceuil.jpg')}}" alt="Image Convaincante 1" class="animated-image">
			<div class="welcome-section">
			<h1>Bienvenue dans notre application de gestion des visiteurs !</h1>
			<p>Gérez efficacement les visiteurs de votre entreprise bancaire grâce à notre solution moderne et conviviale.</p>
			<div class="button-section">
			<a href="{{ path('app_login') }}">
				<button class="login-btn" onclick="window.location.href='#'">Se connecter</button>
			</a>
			 			
<script>>const animatedImages = document.querySelectorAll('.animated-image');

function animateImages() {
let delay = 0;
animatedImages.forEach(image => {
image.style.opacity = '0';
image.style.transform = 'translateX(-20px)';
setTimeout(() => {
image.style.transition = 'opacity 0.6s ease, transform 0.6s ease';
image.style.opacity = '1';
image.style.transform = 'translateX(0)';
}, delay);
delay += 200;
});
}


window.addEventListener('load', animateImages);
</script