/* :root {
    --bleu: #0E1CF3;
    --vert: rgb(13, 184, 19);
    --blanc: white;
    --jaune: #F8D210;
    --jaun: rgb(252, 246, 48);
    --noir: black;
    --gris: #c5c5c5;
}

body {
    margin: 0;
}

.titre {
    font-size: 40px;
    top: 120px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    color: var(--noir);
}

.login-page {
    display: flex;
    margin: 50px;
}

.form-body {
    flex-direction: column;
    padding: 60px 40px;
    background-color: var(--vert);
    width: 545px;
    margin-left: 430px;
    margin-top: 100px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 10px 10px 0;
}

input {
    display: block;
    width: 450px;
    height: 40px;
    margin: 10px 10px 10px 0;
    border: 0 solid var(--vert);
}

.btn {
    padding: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: var(--jaune);
    margin-top: 40px;
    width: 100%;
    border: 0 solid var(--jaune);
    border-radius: 5px;
}

@media screen and(max-width:1100px) {
    .login-page {
        display: block;
        padding: 20px;
    }
    .form {
        margin: 0
    }
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Couleur de fond gris clair */
    margin: 0;
    padding: 0;
}

.image {
    position: absolute;
    top: 0px;
    display: none;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: block;
}

.login-form {
    background-color: #ffffff;
    /* Couleur de fond blanc */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #00b300;
    /* Couleur verte */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00b300;
    /* Couleur verte */
    color: #ffffff;
    /* Couleur de texte blanc */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #00b300;
    /* Couleur verte légèrement plus foncée au survol */
}