<form method="post" action="{{ path('app_rendez_vous_delete', {'id': rendez_vou.id}) }}" onsubmit="return confirm('Etes vous surs de vouloir supprimer ce rendez-vous ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendez_vou.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>
