{% extends 'template.html.twig' %}

{% block title %}Visiteurs externes
{% endblock title %}
{% block body %}
	<div class="card mb-4">
		<div class="card-header" style="text-align:center;">
			<h3>Liste des visiteurs externes</h3>
			
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prenoms</th>
						<th>Email</th>
						<th>Télephone</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nom</th>
						<th>Prenoms</th>
						<th>Email</th>
						<th>Télephone</th>
					</tr>
				</tfoot>
				<tbody>
					{% for visiteur in visiteurs %}
						<tr>
							<td>
								{{ visiteur.Nom }}
							</td>
							<td>{{visiteur.prenoms}}</td>
							<td>{{visiteur.email}}</td>
							<td>{{visiteur.tel}}</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock body %}
