{{ form_start(SearchForm) }}
<form >
	<div class="input-group">
		{{form_widget(SearchForm.q) }}
		<button class="btn btn-success" id="btnNavbarSearch" type="button submit">
			<i class="fas fa-search"></i>
		</button>
	</div>
	{% if results is not empty %}
        <h2>Résultats de la recherche</h2>
        <ul>
            {% for result in results %}
                <li>{{ result.nom }}</li> {# Remplacez "name" par le champ approprié de votre entité #}
            {% endfor %}
        </ul>
    {% endif %}
</form>
{{ form_end(SearchForm) }}
