{% extends 'template.html.twig' %}

{% block title %}Hello Compte
{% endblock %}

{% block body %}
<h1>Nouveau compte</h1>
	{{ form_start(CompteForm) }}
	<label>Nom d'utilisateur</label>
	{{ form_widget(CompteForm.username)}}
	<label>Profil</label>
	{{ form_widget(CompteForm.profil)}}
	{{ form_end(CompteForm) }}
{% endblock %}
