{% extends 'template.html.twig' %}

{% block title %}Hello DirectionController!
{% endblock %}

{% block body %}
<h1>Nouvelle direction</h1>
	{{ form_start(CompteForm) }}
	<label>Nom de la direction</label>
	{{ form_widget(CompteForm.username)}}
	<label>Nom de la filiale</label>
	{{ form_widget(CompteForm.profil)}}
	{{ form_end(CompteForm) }}
{% endblock %}
