{% extends 'template.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
{# templates/email/visite_notification.html.twig #}

<p>Bonjour {{ employe.nom }},</p>

<p>Vous avez une nouvelle visite de {{ visiteur.nom }}.</p>

<p>Merci.</p>

{% endblock %}
